---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Yassine Idiri" description="About Yassine Idiri">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>	
			</Hero>
			<section>
				<h2 class="section-title">Profil</h2>
				<div class="content">
					<p>I'm currently pursuing a Master's degree in Computer Science, and I'm passionate about Full-Stack Development. 
					I have a solid grasp of PHP, particularly with Laravel, enabling me to create powerful back-end solutions. 
					On the front-end, I enjoy crafting engaging user interfaces using Bootstrap. 
					Additionally, I'm well-versed in JavaScript, including skills in Fetch to enhance user interactions. 
					With a well-rounded skill set in both back-end and front-end technologies, and a strong knowledge of SQL for efficient data management, I'm dedicated to building innovative and efficient web applications.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Master's degree (Bac+4) in Computer Science</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Curious, Creative, Autonomous, Organized, Teamwork</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
