---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Yassine Idiri" description="About Yassine Idiri">
    <div class="stack gap-20">
        <main class="wrapper about">
            <Hero
                title="About"
                tagline="Thanks for stopping by. Read below to learn more about myself and my background."
            >
            </Hero>
            <section>
                <h2 class="section-title">Profile</h2>
                <div class="content">
                    <p>I am a final-year Master's student in Computer Science at the University of Haute-Alsace in France, seeking a six-month internship starting in February 2024, with the potential to transition into a full-time position. With skills in software development and project management, particularly in Agile methodologies, I aim to apply my knowledge to innovative projects and collaborate with a dynamic team.</p>
                </div>
            </section>
            <section>
                <h2 class="section-title">Education</h2>
                <div class="content">
                    <section class="education">

                        <div class="education-item">
                            <div class="date">2023 - Present</div>
                            <div class="details">
                                <h3>Master in Computer Science</h3>
                                <p><em>University of Haute-Alsace - France</em></p>
                                <p><strong>M2:</strong> DevOps, Cloud, Machine Learning for image analysis, Advanced Web Development, Systems Security.</p>
                                <p><strong>M1:</strong> Mobile Development, Artificial Intelligence, Human-Computer Interaction, BI, Reporting, UML.</p>
                            </div>
                        </div>

                        <div class="education-item">
                            <div class="date">2020 - 2023</div>
                            <div class="details">
                                <h3>Bachelor's in Computer Science</h3>
                                <p><em>University of Haute-Alsace - France</em></p>
                                <p>Algorithms and programming in C++/Java, PHP Development, Graphical Interface, Operating Systems.</p>
                            </div>
                        </div>

                        <div class="education-item">
                            <div class="date">2019 - 2020</div>
                            <div class="details">
                                <h3>Scientific Baccalaureate</h3>
                                <p><em>Strasbourg Academy - France</em></p>
                                <p>Mathematics specialty, with honors.</p>
                            </div>
                        </div>

                    </section>

                </div>
            </section>
            <section>
                <h2 class="section-title">Skills</h2>
                <div class="content">
                    <p>Curious, Autonomous, Organized, Team working</p>
                </div>
            </section>
        </main>

        <ContactCTA />
    </div>
</BaseLayout>

<style>
    .about {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
    }

    img {
        margin-top: 1.5rem;
        border-radius: 1.5rem;
        box-shadow: var(--shadow-md);
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: var(--gray-200);
    }

    .section-title {
        font-size: var(--text-xl);
        color: var(--gray-0);
    }

    .content {
        /* Removed grid-column to avoid conflicts */
    }

    .content :global(a) {
        text-decoration: 1px solid underline transparent;
        text-underline-offset: 0.25em;
        transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
        text-decoration-color: currentColor;
    }

    @media (min-width: 50em) {
        .about {
            display: grid;
            grid-template-columns: 1fr 60% 1fr;
            gap: 3.5rem;
        }

        .about > :global(:first-child) {
            grid-column-start: 2;
        }

        /* Position sections in the center column */
        .about > section {
            grid-column: 2;
        }

        .section-title {
            font-size: var(--text-xl);
            color: var(--gray-0);
        }

        .content {
            font-size: var(--text-lg);
        }
    }

    /* Styles for the Education section */
    .education {
        margin: 20px 0;
    }

    .education-item {
        display: flex;
        margin-bottom: 20px;
    }

    .education-item .date {
        width: 150px;
        flex-shrink: 0;
        font-weight: bold;
        color: #555;
    }

    .education-item .details {
        margin-left: 20px;
        flex: 1;
    }

    .education-item .details h3 {
        margin: 0;
        font-size: 1.5em;
    }

    .education-item .details p {
        margin: 5px 0;
    }

    .education-item .details p em {
        font-style: italic;
        color: #777;
    }
</style>
