---
import Icon from './Icon.astro';
---
<section class="box skills">
   <!-- Front-End Development -->
<div class="stack gap-2 lg:gap-4">
    <h2>Software Developement</h2>
    <p>
    </p>
    <a href="https://skillicons.dev">
        <img src="https://skillicons.dev/icons?i=java,cpp,js,qt,react,angular,kubernetes" />
    </a>
</div>

<!-- Back-End Development -->
<div class="stack gap-2 lg:gap-4">
    <h2>Web Developement</h2>
    <p>
    </p>
    <a href="https://skillicons.dev">
        <img src="https://skillicons.dev/icons?i=laravel,php,spring,html,css,nodejs,ts" />
    </a>
</div>

</section>



<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
